[Unit]
Description=Reddit
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/reddit
ExecStart=/home/ubuntu/reddit/sbin/puma -e production
[Install]
WantedBy=multi-user.target
