{
  "app": {
    "hosts": {
      %{ for index, ip in external_ip_address_app ~}
        "${name_app[index]}": {
        "ansible_host": "${ip}",
        "db_ip": "${internal_ip_address_db}"
      },
      %{ endfor ~}
    }
  },
  "db": {
    "hosts": {
      "dbserver": {
        "ansible_host": "${external_ip_address_db}"
      }
    }
  }
}
