{
  "app": {
    "hosts": {
      "appserver": {
        "ansible_host": "${external_ip_address_app}",
        "db_ip": "${internal_ip_address_db}"
      }
    }
  },
  "db": {
    "hosts": {
      "dbserver": {
        "ansible_host": "${external_ip_address_db}"
      }
    }
  }
}
